* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1440px;
	height: 100%;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	a {
		text-decoration: none;
	}
}

.containers {
	width: 1170px;
	margin: auto;
}

.header {
	height: 100px;
	background-color: rgba(255, 255, 255, .8);
}

.logo {
	font-family: 'Lobster', cursive;
	font-size: 42px;
	color: #44c0c2;
	float: left;
	margin-top: 20px;
}

.nav {
	height: 100%;
	font-size: 15px;
	float: right;
	li {
		display: inline;
		list-style: none;
	}
	a {
		text-align: center;
		display: inline-block;
		height: 97px;
		width: 80px;
		color: #000;
		margin-left: 15px;
		line-height: 7;
		&:hover {
			color: #44c0c2;
			border-bottom: 3px solid #44c0c2;
		}
	}
}

.stickytop {
	width: 1440px;
	position: fixed;
	top: 0;
	z-index: 999;
	transition: .5s;
}

.team-header {
	text-align: center;
	margin: 100px 0;
	font-size: 32px;
	font-weight: 200;
	color: #4e525d;
}

.team-block {
	display: flex;
	justify-content: space-between;
	margin: 10px 0 110px 0;
}

.team-block-man {
	width: 245px;
	height: 415px;
	text-align: center;
	color: #4e525d;
	font-weight: 200;
	h6 {
		font-size: 22px;
		margin-top: 70px;
		font-weight: 400;
	}
}

.team-avatar {
	width: 200px;
	height: 200px;
	display: inline-block;
	border-radius: 50%;
	background-color: #eeeef0;
}

.plans-block {
	height: 740px;
	background-color: #f1f1f1;
}

footer {
	width: 1440px;
	height: 685px;
	margin: auto;
	background: #181818 url('../img/footer-background.jpg') no-repeat;
}
