* {
	margin: 0;
	padding: 0;
}

.wrapper {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	a {
		text-decoration: none;
	}
}

.containers {
	width: 1170px;
	margin: auto;
}

.header {
	height: 100px;
}

.logo {
	font-family: 'Lobster', cursive;
	font-size: 42px;
	color: #44c0c2;
	float: left;
	margin-top: 20px;
}

.nav {
	height: 100%;
	font-size: 15px;
	float: right;
	li {
		display: inline;
		list-style: none;
	}
	a {
		text-align: center;
		display: inline-block;
		height: 97px;
		width: 80px;
		color: #000;
		margin-left: 15px;
		line-height: 7;
		transition: .3;
		&:hover {
			color: #44c0c2;
			border-bottom: 3px solid #44c0c2;
		}
	}
}

